@media print {
    body {
       color: #000 !important;
       background: #fff !important;
       /* border:1px solid red !important; */
       /* width:105% !important; */
       /* height:100vh !important; */
       padding:0 20% 0 0 !important;
       margin:0 0 0 0 !important;
       /* width:auto !important; */
       /* margin-left: -50px !important; */
    }

    body::after {
      background: #fff !important;
   }

   #resume{overflow: wrap !important;}
    
 h3{text-align: left !important; font-size:20px !important;}

    .footerstyle, .sidebarIconToggle, .back, .taggage, .infomenu, .sidebart, #posts, #feature, .print, #consent, .commentbox, .avatar-frame, .makeStyles-container-1, .usability {display: none !important;}

   #info{display:block !important;}
    .nameblock{text-align:center !important; margin:0 auto; position:relative; }



 }